*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
}

body,html { width: 100%; height: 100%;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
                              

}

/* body { background: url('https://i.imgur.com/MoYBh1e.jpg') center center no-repeat; background-size: cover; } */

.icon { display: block; position: relative; padding: 10px 8px; margin: 10px 5px 0 5px; width: 30px; height: 30px; overflow: hidden; background:rgba(242, 242, 242, 0.33); border-color: #a5a5a5; border-style: solid; border-width: 1px;}

.icon i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #a5a5a5; z-index: 11; font-size: 15px; }
.icon img { width: 16px; margin: -3px 0 0 0; }
.icon span { display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); width: 100%; height: 100%; }

.icon.text { display: inline-block; overflow: visible; width: auto; padding: 0; }
.icon.text i { display: inline-block; float: left; transform: translate(0%,0%); left: 0; top: 0; position: relative; padding: 10px 8px; width: 30px; height: 30px; border-radius: 100px; color: #FFF; }
.icon.text i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.icon.text span { position: relative; width: auto; height: auto; left: 0; transform: translate(0,0); display: inline-block; font-size: 12px; padding: 7px 15px 0 10px; font-weight: 700; color: #FFF; }


.icon.dying:not(.customstatus) span { animation: trew-status-blink 500ms infinite; }
.icon.pulse i { animation: trew-pulse 500ms 1; }

.info.player #status { clear: both; position: absolute; bottom: 2.5em; right: 1em}
/* .info.player #status ul li { float: right;} */
/* .info.player #status ul li#health span { background: linear-gradient(180deg, #aa0000 0%, #aa0000 100%); }
.info.player #status ul li#armor span { background: linear-gradient(180deg, #0aa3b5 0%, #0aa3b5 100%); }
.info.player #status ul li#stamina span { background: linear-gradient(180deg, #e0a102 0%, #e0a102 100%); }
.info.player #status ul li#hunger span { background: linear-gradient(180deg, #cd6700 0%, #cd6700 100%); }
.info.player #status ul li#thirst span { background: linear-gradient(180deg, #008fbb 0%, #008fbb 100%); } */
.info.player #status ul li#health span { background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
.info.player #status ul li#armor span { background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
.info.player #status ul li#stamina span { background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
.info.player #status ul li#hunger span { background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
.info.player #status ul li#thirst span { background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
.info.player #status ul li#health.dead { animation: trew-pulse 500ms infinite; }
.info.player #status ul li#health.dead span { height: 0 !important; }
.info.player #status ul li#health.dead i.fas:before { content: '\f714'; }

@keyframes trew-status-blink {
    0% { opacity: 1; background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
    50% { opacity: 1; background: linear-gradient(180deg, #af0000 0%, #af0000 100%); }
    100% { opacity: 1; background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%); }
}

@keyframes trew-pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
